html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: white;
  background: #222222;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.block {
  width: 100%;
  max-width: 900px;
  padding: 15px;
  box-sizing: border-box;
  margin: 50px auto;
  position: relative;
}
.block__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.block_positioned-firstly {
  padding-top: 100px;
  margin-top: 0;
}
.block_positioned-last {
  flex-grow: 2;
  margin-bottom: 100px;
}

.players {
  display: flex;
}
.players__card {
  padding-top: 125%;
  width: 100%;
  border-radius: 10px;
  position: relative;
}
.players__card_type1 {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}
.players__card_type2 {
  background-color: #FF3CAC;
  background-image: linear-gradient(147deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
.players__card_type3 {
  background-color: #F4D03F;
  background-image: linear-gradient(147deg, #F4D03F 0%, #16A085 100%);
}
.players__card_type4 {
  background-color: #74EBD5;
  background-image: linear-gradient(147deg, #74EBD5 0%, #9FACE6 100%);
}
.players__card_type5 {
  background-color: #08AEEA;
  background-image: linear-gradient(147deg, #08AEEA 0%, #2AF598 100%);
}
.players__card_type6 {
  background-color: #ffffff;
  background-image: linear-gradient(147deg, #ffffff 0%, #ffedbd 100%);
  color: #4e4949;
}
.players__card_type7 {
  background-color: #ac7657;
  background-image: linear-gradient(147deg, #AC7657 0%, #FBAB7E 100%);
}
.players__card_type8 {
  background-color: #89216B;
  background-image: linear-gradient(147deg, #DA4453 0%, #89216B 100%);
}
.players__icon {
  text-align: center;
  font-size: 72px;
  padding: 12px;
}
.players__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}
.players__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  width: 132px;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.players__score {
  display: flex;
  justify-content: center;
  align-items: center;
}
.players__score-coin {
  margin-right: 6px;
  height: 14px;
  width: 14px;
  border-radius: 100px;
  border: 2px solid #fdda31;
  background: #f6b331;
  animation: players__score-coin_spin 6s ease infinite;
}
@keyframes players__score-coin_spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.players__score-number {
  font-weight: 600;
}
.players_leader {
  background: #f6b331;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -5px;
  right: 10px;
}
.players_host {
  background: #de31fd;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -5px;
  right: 10px;
  animation: spin 6s ease infinite;
}

.header {
  background: #222222;
  border-bottom: #555555 solid 1px;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 5;
  box-sizing: border-box;
}
.header__content {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__row:first-child {
  justify-content: left;
}
.header__row:last-child {
  justify-content: right;
}
.header__menu {
  font-size: 24px;
}
.header__icon {
  margin-right: 30px;
  background: #555555;
  border-radius: 100px;
  padding: 12px;
  width: 22px;
}
.header__icon:hover {
  cursor: pointer;
}
.header__icon:last-child {
  margin-right: 0;
}
@media (max-width: 600px) {
  .header__icon {
    position: absolute;
    bottom: -65px;
    margin-right: 0;
    right: 0;
    box-shadow: rgba(34, 34, 34, 0.24) 0px 3px 8px;
  }
}
.header__links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
}
@media (max-width: 1100px) {
  .header__links {
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    z-index: 4;
    top: 75px;
    padding: 15px;
    background: #222222;
    flex-direction: column;
    min-width: auto;
    box-sizing: border-box;
    height: calc(100% - 75px);
    overflow: hidden;
    transition: 0.5s ease;
    transform: translate(0);
  }
  .header__links * {
    font-size: 22px;
    margin-bottom: 12px;
    padding: 12px;
  }
  .header__links *:last-child {
    margin-bottom: 0;
  }
}
.header__links_opened {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.footer {
  background: #111111;
  padding: 30px 15px 100px;
  box-sizing: border-box;
}
.footer__content {
  max-width: 900px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 750px) {
  .footer__content {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}
.footer__row {
  font-size: 16px;
  text-align: center;
}
.footer__row:first-child {
  text-align: left;
}
@media (max-width: 750px) {
  .footer__row:first-child {
    text-align: center;
  }
}
.footer__row:last-child {
  text-align: right;
}
@media (max-width: 750px) {
  .footer__row:last-child {
    text-align: center;
  }
}
.footer__button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 10px;
}
.footer__button:last-child {
  margin-right: 0;
}
.footer__button_github {
  color: black;
  background: white;
}
.footer__button_vk {
  color: white;
  background: #284775;
}

.about-project__text {
  display: flex;
  align-items: center;
}
@media (max-width: 630px) {
  .about-project__text {
    flex-direction: column;
  }
}
.about-project__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 20px 20px 0;
  margin-right: 60px;
}
.about-project__icon-cogs {
  position: relative;
}
.about-project__icon-cogs > .fa:nth-child(1) {
  animation-duration: 4s;
}
.about-project__icon-cogs > .fa:nth-child(2),
.about-project__icon-cogs > .fa:nth-child(3) {
  position: absolute;
  top: -0.4em;
  right: -0.45em;
  animation-direction: reverse;
  animation-duration: 2s;
}
.about-project__icon-cogs > .fa:nth-child(3) {
  top: auto;
  bottom: -0.4em;
}
@media (max-width: 630px) {
  .about-project__icon {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.about-project__developers {
  display: flex;
  justify-content: center;
}
@media (max-width: 630px) {
  .about-project__developers {
    flex-direction: column;
  }
}
.about-project__developer {
  padding: 12px;
  margin-right: 30px;
  background: #333333;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
}
.about-project__developer:last-child {
  margin-right: 0;
}
@media (max-width: 630px) {
  .about-project__developer {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .about-project__developer:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }
}
.about-project__developer-image {
  width: calc(100% + 24px);
  padding-bottom: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  position: relative;
  top: -12px;
  left: -12px;
}
.about-project__developer-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.about-project__developer-link {
  margin-left: 5px;
  font-size: 22px;
  color: white;
  text-decoration: none;
}
.about-project__developer-link:first-child {
  margin-right: 0;
}

.lobby {
  padding: 100px 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
  display: grid;
  position: relative;
  grid-template-columns: 250px 1fr auto;
  box-sizing: border-box;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-grow: 2;
}
@media (max-width: 900px) {
  .lobby {
    grid-template-columns: 1fr auto;
    max-width: 600px;
  }
}
@media (max-width: 630px) {
  .lobby {
    grid-template-columns: 1fr;
  }
}
.lobby__rooms {
  width: 100%;
  padding: 12px;
  position: sticky;
  top: 105px;
  border-radius: 10px;
  background: #333333;
  box-sizing: border-box;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .lobby__rooms {
    grid-area: 1/1/2/3;
    position: static;
  }
}
@media (max-width: 630px) {
  .lobby__rooms {
    grid-area: auto;
  }
}
.lobby__rooms-title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding: 24px;
  width: calc(100% + 24px);
  position: relative;
  top: -12px;
  left: -12px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #89216B;
  background-image: linear-gradient(147deg, #DA4453 0%, #89216B 100%);
}
.lobby__rooms-action {
  margin-bottom: 24px;
}
.lobby__container {
  flex-grow: 2;
  overflow: auto;
}
.lobby__container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.lobby__container::-webkit-scrollbar-track {
  width: 15px;
  background-color: transparent;
}
.lobby__container::-webkit-scrollbar-thumb {
  width: 15px;
  border-radius: 5px;
  background-color: #555555;
}
.lobby__room {
  padding: 12px;
  transition: 0.2s ease;
  border-radius: 5px;
  background: #333333;
  margin-bottom: 5px;
  margin-right: 5px;
}
.lobby__room:hover {
  background: #555555;
  cursor: pointer;
}
.lobby__room-title {
  font-weight: 600;
}
.lobby__room_selected {
  background: #555555;
}
.lobby__room-action {
  width: 100%;
  position: relative;
  display: none;
}
.lobby__room-action_opened {
  display: flex;
}
.lobby__button {
  margin-top: 24px;
  display: block;
  border-radius: 5px;
  border: none;
  color: white;
  outline: none;
  padding: 12px;
  transition: 0.2s ease;
  background: #89216B;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.lobby__button:hover {
  background: #912673;
  cursor: pointer;
}
.lobby__button:active {
  background: #671951;
}
.lobby__posts-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.lobby__post {
  width: 100%;
  border-radius: 10px;
  background: #333333;
  margin-bottom: 30px;
}
.lobby__post:last-child {
  margin-bottom: 0;
}
.lobby__post-image {
  width: 100%;
  padding-bottom: 60%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #F4D03F;
  background-image: linear-gradient(147deg, #16A085 0%, #F4D03F 100%);
}
.lobby__post-text {
  padding: 24px;
}
.lobby__post-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}
.lobby__post-date {
  font-size: 14px;
  margin-bottom: 15px;
}
.lobby__online-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.lobby__online-user {
  margin-bottom: 5px;
}
.lobby__online-user:last-child {
  margin-bottom: 0;
}
.lobby__online-others {
  font-weight: 600;
  margin-top: 15px;
  color: #bfbfbf;
}

.tutorial {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 30px;
}
@media (max-width: 750px) {
  .tutorial {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}
.tutorial__image {
  width: 100%;
  padding-bottom: 60%;
  border-radius: 10px;
  background-color: #F4D03F;
  background-image: linear-gradient(147deg, #16A085 0%, #F4D03F 100%);
}
.tutorial__description {
  color: #c8c8c8;
}
.tutorial__description-title {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 700;
  color: white;
}
.tutorial__description-entity {
  font-weight: 600;
  color: white;
}
@media (max-width: 750px) {
  .tutorial__description {
    margin-bottom: 30px;
  }
}

.table {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .table {
    grid-template-columns: 1fr;
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
  }
}
.table__theme-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 15px;
}
@media (max-width: 640px) {
  .table__theme-block {
    grid-column-gap: 5px;
  }
}
.table__theme-title {
  border-radius: 5px;
  background-color: #333333;
  padding: 12px;
}
.table__theme-price {
  background: #89216B;
}
.table__theme-price_used {
  cursor: default !important;
  background: #51143f !important;
}

.user {
  display: flex;
  padding: 12px;
  border-radius: 5px;
  align-items: center;
}
.user__icon {
  margin-right: 5px;
  display: block;
}
.user__nickname {
  font-weight: 600;
}
.user_type1 {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}
.user_type2 {
  background-color: #FF3CAC;
  background-image: linear-gradient(147deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
.user_type3 {
  background-color: #F4D03F;
  background-image: linear-gradient(147deg, #F4D03F 0%, #16A085 100%);
}
.user_type4 {
  background-color: #74EBD5;
  background-image: linear-gradient(147deg, #74EBD5 0%, #9FACE6 100%);
}
.user_type5 {
  background-color: #08AEEA;
  background-image: linear-gradient(147deg, #08AEEA 0%, #2AF598 100%);
}
.user_type6 {
  background-color: #ffffff;
  background-image: linear-gradient(147deg, #ffffff 0%, #ffedbd 100%);
  color: #4e4949;
}
.user_type7 {
  background-color: #ac7657;
  background-image: linear-gradient(147deg, #AC7657 0%, #FBAB7E 100%);
}
.user_type8 {
  background-color: #89216B;
  background-image: linear-gradient(147deg, #DA4453 0%, #89216B 100%);
}

.pattern {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  box-sizing: border-box;
  transition: 0.5s ease;
}
@media (max-width: 1200px) {
  .pattern {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 550px) {
  .pattern {
    grid-template-columns: repeat(7, 180px);
    max-width: 100%;
    overflow: auto;
  }
  .pattern::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .pattern::-webkit-scrollbar-track {
    width: 15px;
    background-color: transparent;
  }
  .pattern::-webkit-scrollbar-thumb {
    width: 15px;
    border-radius: 5px;
    background-color: #555555;
  }
}
.pattern__question {
  border-radius: 10px;
  padding: 12px;
}
.pattern__question:hover {
  cursor: pointer;
}
.pattern__question_show-answer {
  animation: pattern__question-spin 1s ease;
}
@keyframes pattern__question-spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.pattern__question_type1 {
  grid-area: 1/1/2/4;
  background-color: #FF3CAC;
  background-image: linear-gradient(147deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
@media (max-width: 1200px) {
  .pattern__question_type1 {
    grid-area: auto;
  }
}
.pattern__question_type2 {
  grid-area: 2/1/3/4;
  background-color: #ffa73b;
  background-image: linear-gradient(147deg, #ff2525 0%, #ffa73b 74%);
}
@media (max-width: 1200px) {
  .pattern__question_type2 {
    grid-area: auto;
  }
}
.pattern__question_type3 {
  grid-area: 1/4/3/6;
  background-color: #08AEEA;
  background-image: linear-gradient(147deg, #08AEEA 0%, #2AF598 100%);
  text-align: center;
}
@media (max-width: 1200px) {
  .pattern__question_type3 {
    grid-area: auto;
  }
}
.pattern__question_type4 {
  grid-area: 3/1/6/3;
  background-color: #ffffff;
  background-image: linear-gradient(147deg, #ffffff 0%, #ffedbd 100%);
  color: #4e4949;
  text-align: center;
}
@media (max-width: 1200px) {
  .pattern__question_type4 {
    grid-area: auto;
  }
}
.pattern__question_type5 {
  grid-area: 4/3/6/6;
  background-color: #3ebad0;
  background-image: linear-gradient(147deg, #3ebad0 0%, #4e5ea5 100%);
}
@media (max-width: 1200px) {
  .pattern__question_type5 {
    grid-area: auto;
  }
}
.pattern__question_type6 {
  grid-area: 3/3/4/7;
  background-color: #F4D03F;
  background-image: linear-gradient(147deg, #16A085 0%, #F4D03F 100%);
  color: white;
}
@media (max-width: 1200px) {
  .pattern__question_type6 {
    grid-area: auto;
  }
}
.pattern__question_type7 {
  grid-area: 6/1/7/5;
  background-color: #89216B;
  background-image: linear-gradient(147deg, #DA4453 0%, #89216B 100%);
}
@media (max-width: 1200px) {
  .pattern__question_type7 {
    grid-area: auto;
  }
}
@media (max-width: 550px) {
  .pattern__question {
    margin-bottom: 5px;
  }
}
.pattern__question-image {
  margin-bottom: 12px;
}
@media (max-width: 1200px) {
  .pattern__question-image {
    width: 60%;
  }
}
.pattern__question-context {
  font-size: 20px;
  font-weight: 600;
}

.start {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  width: 100%;
  min-height: 100%;
  padding: 30px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .start {
    grid-template-columns: 280px 1fr;
  }
}
@media (max-width: 630px) {
  .start {
    grid-template-columns: 180px 1fr;
  }
}
@media (max-width: 550px) {
  .start {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-row-gap: 30px;
  }
}
@media (max-width: 550px) {
  .start__pattern {
    grid-area: 2/1/3/2;
  }
}
.start__content {
  position: relative;
}
@media (max-width: 550px) {
  .start__content {
    grid-area: 1/1/2/2;
  }
}
.start__main-info {
  position: sticky;
  margin-right: auto;
  margin-left: auto;
  top: 50vh;
  transform: translate(0, -50%);
  max-width: 550px;
  box-sizing: border-box;
}
@media (max-width: 630px) {
  .start__main-info {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .start__main-info {
    top: calc(50vh - 260px);
    transform: translate(0, 0);
  }
}
.start__slogan {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .start__slogan {
    font-size: 48px;
  }
}
@media (max-width: 630px) {
  .start__slogan {
    font-size: 32px;
  }
}
.start__description {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (max-width: 630px) {
  .start__description {
    font-size: 22px;
  }
}
.start__action {
  display: flex;
}
@media (max-width: 630px) {
  .start__action {
    font-size: 22px;
  }
}
.start__input {
  display: block;
  border-radius: 5px 0 0 5px;
  border: none;
  color: #222222;
  outline: none;
  padding: 12px;
  font-size: 28px;
  box-sizing: border-box;
  font-weight: 600;
  width: 100%;
  height: 56px;
}
@media (max-width: 630px) {
  .start__input {
    width: 100%;
    font-size: 22px;
    height: 48px;
  }
}
.start__button {
  display: block;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: white;
  outline: none;
  padding: 12px;
  font-size: 28px;
  font-weight: 600;
  transition: 0.2s ease;
  background: #89216B;
}
@media (max-width: 630px) {
  .start__button {
    font-size: 22px;
  }
}
.start__button:hover {
  background: #912673;
  cursor: pointer;
}
.start__button:active {
  background: #671951;
}
.start__icon {
  position: fixed;
  top: 30px;
  right: 30px;
}
@media (max-width: 550px) {
  .start__icon {
    width: 100px;
  }
}
@media (max-width: 550px) and (max-height: 700px) {
  .start__icon {
    display: none;
  }
}

.link {
  color: white;
  transition: 0.2s ease;
  text-decoration: none;
}
.link_selected {
  border-radius: 5px;
  padding: 12px;
  background: #89216B;
}
.link:hover {
  border-radius: 5px;
  padding: 12px;
  background: #89216B;
  cursor: pointer;
}

.action {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.action__input {
  padding: 12px;
  display: block;
  border-radius: 5px 0 0 5px;
  border: none;
  height: 44px;
  box-sizing: border-box;
  color: #222222;
  outline: none;
  width: calc(100% - 42px);
}
.action__button {
  display: block;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: white;
  outline: none;
  padding: 12px;
  transition: 0.2s ease;
  background: #89216B;
}
.action__button:hover {
  background: #912673;
  cursor: pointer;
}
.action__button:active {
  background: #671951;
}

/*# sourceMappingURL=style.css.map */
