html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  color: white;
  background: #222222;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.block{
  &__title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  width: 100%;
  max-width: 900px;
  padding: 15px;
  box-sizing: border-box;
  margin: 50px auto;
  position: relative;
  &_positioned-firstly{
    padding-top: 100px;
    margin-top: 0;
  }
  &_positioned-last{
    flex-grow: 2;
    margin-bottom: 100px;
  }
}

.players{
  display: flex;
  &__card{
    padding-top: 125%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    &_type1{
      background-color: #FFE53B;
      background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    }
    &_type2{
      background-color: #FF3CAC;
      background-image: linear-gradient(147deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    }
    &_type3{
      background-color: #F4D03F;
      background-image: linear-gradient(147deg, #F4D03F 0%, #16A085 100%);
    }
    &_type4{
      background-color: #74EBD5;
      background-image: linear-gradient(147deg, #74EBD5 0%, #9FACE6 100%);
    }
    &_type5{
      background-color: #08AEEA;
      background-image: linear-gradient(147deg, #08AEEA 0%, #2AF598 100%);
    }
    &_type6{
      background-color: #ffffff;
      background-image: linear-gradient(147deg, #ffffff 0%, #ffedbd 100%);
      color: #4e4949;
    }
    &_type7{
      background-color: #ac7657;
      background-image: linear-gradient(147deg, #AC7657 0%, #FBAB7E 100%);
    }
    &_type8{
      background-color: #89216B;
      background-image: linear-gradient(147deg, #DA4453 0%, #89216B 100%);
    }
  }
  &__icon{
    text-align: center;
    font-size: 72px;
    padding: 12px;
  }
  &__content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
  }
  &__title{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    width: 132px;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
  }
  &__score{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__score-coin{
    margin-right: 6px;
    height: 14px;
    width: 14px;
    border-radius: 100px;
    border: 2px solid #fdda31;
    background: #f6b331;
    @keyframes players__score-coin_spin {
      0%    { transform: rotateY(0deg); }
      50%  { transform: rotateY(180deg); }
      100%    { transform: rotateY(0deg); }
    }
    animation: players__score-coin_spin 6s ease infinite;
  }
  &__score-number{
    font-weight: 600;
  }
  &_leader{
    background: #f6b331;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: -5px;
    right: 10px;
  }
  &_host{
    background: #de31fd;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: -5px;
    right: 10px;
    animation: spin 6s ease infinite;
  }
}

.header{
  background: #222222;
  border-bottom: #555555 solid 1px;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 5;
  box-sizing: border-box;
  &__content{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__row{
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child{
      justify-content: left;
    }
    &:last-child{
      justify-content: right;
    }
  }
  &__menu{
    font-size: 24px;
  }
  &__icon{
    margin-right: 30px;
    background: #555555;
    border-radius: 100px;
    padding: 12px;
    width: 22px;
    &:hover{
      cursor: pointer;
    }
    &:last-child{
      margin-right: 0;
    }
    @media (max-width: 600px) {
      position: absolute;
      bottom: -65px;
      margin-right: 0;
      right: 0;
      box-shadow: rgba(34, 34, 34, 0.24) 0px 3px 8px;
    }
  }
  &__links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
    @media (max-width: 1100px) {
      justify-content: flex-start;
      align-items: flex-start;
      opacity: 0;
      visibility: hidden;
      position: fixed;
      left: 0;
      z-index: 4;
      top: 75px;
      padding: 15px;
      background: #222222;
      flex-direction: column;
      min-width: auto;
      box-sizing: border-box;
      height: calc(100% - 75px);
      overflow: hidden;
      transition: 0.5s ease;
      transform: translate(0, );
      & * {
        font-size: 22px;
        margin-bottom: 12px;
        padding: 12px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &_opened{
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
    }
  }
}

.footer{
  background: #111111;
  padding: 30px 15px 100px;
  box-sizing: border-box;
  &__content{
    max-width: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 750px) {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
  }
  &__row{
    font-size: 16px;
    text-align: center;
    &:first-child{
      text-align: left;
      @media (max-width: 750px) {
        text-align: center;
      }
    }
    &:last-child{
      text-align: right;
      @media (max-width: 750px) {
        text-align: center;
      }
    }
  }
  &__button{
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    &_github{
      color: black;
      background: white;
    }
    &_vk{
      color: white;
      background: #284775;
    }
  }
}

.about-project{
  &__text{
    display: flex;
    align-items: center;
    @media(max-width: 630px){
      flex-direction: column;
    }
  }
  &__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 20px 20px 0;
    margin-right: 60px;
    &-cogs{
      position: relative;
      > .fa:nth-child(1) {
        animation-duration: 4s;
      }
      > .fa:nth-child(2),
      > .fa:nth-child(3) {
        position: absolute;
        top: -0.4em;
        right: -0.45em;
        animation-direction: reverse;
        animation-duration: 2s;
      }
      > .fa:nth-child(3) {
        top: auto;
        bottom: -0.4em;
      }
    }
    @media(max-width: 630px){
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  &__developers{
    display: flex;
    justify-content: center;
    @media(max-width: 630px){
      flex-direction: column;
    }
  }
  &__developer{
    padding: 12px;
    margin-right: 30px;
    background: #333333;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    &:last-child{
      margin-right: 0;
    }
    @media(max-width: 630px){
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 30px;
      &:last-child{
        margin-right: auto;
        margin-bottom: 0;
      }
    }
    &-image{
      width: calc(100% + 24px);
      padding-bottom: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-sizing: border-box;
      position: relative;
      top: -12px;
      left: -12px;
    }
    &-text{
    }
    &-title{
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    &-links{
    }
    &-link{
      margin-left: 5px;
      font-size: 22px;
      color: white;
      text-decoration: none;
      &:first-child{
        margin-right: 0;
      }
    }
  }
}

.tutorial {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 30px;
  @media(max-width: 750px){
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  &__image{
    width: 100%;
    padding-bottom: 60%;
    border-radius: 10px;
    background-color: #F4D03F;
    background-image: linear-gradient(147deg, #16A085 0%, #F4D03F 100%);
  }
  &__description{
    color: #c8c8c8;
    &-title{
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: 700;
      color: white;
    }
    &-entity{
      font-weight: 600;
      color: white;
    }
    @media(max-width: 750px){
      margin-bottom: 30px;
    }
  }
}

.table{
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  margin: 0 auto;
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
  }
  &__theme-block{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 15px;
    @media (max-width: 640px) {
      grid-column-gap: 5px;
    }
  }
  &__theme-title{
    border-radius: 5px;
    background-color: #333333;
    padding: 12px;
  }
  &__theme-price{
    background: #89216B;
    &_used{
      cursor: default !important;
      background: #51143f !important;
    }
  }
}